<h2>Царь горы</h2>
<p></p>
<h4>Наши контакты</h4>

Phone <b> 5555 (555) 555 </b> <br />
<p></p>
Email <b> support@king-mountain.pro </b>

<hr>
	<center>
      <div class="footer_title" style="color: #5a5959;">
         Мы в социальных сетях подписывайся на нас:
      </div>
		<div class="footer_social">
            <a href="https://ok.ru/kingofmountain" target="_blank" class="footer_social_item"><img src="images/ic-ok.png" height="39" width="39" alt="OK"></a>
            <a href="https://www.facebook.com/KingofMontain" target="_blank" class="footer_social_item"><img src="images/ic-fb.png" height="26" width="12" alt="Facebook"></a>
            <a href="https://vk.com/kingmountain" target="_blank" class="footer_social_item"><img src="images/ic-vk.png" height="18" width="30" alt="VK"></a>
            <a href="https://twitter.com/share?url=https://king-mountain.pro/&text=Царь Горы" target="_blank" class="footer_social_item"><img src="images/ic-tw.png" height="20" width="24" alt="Twitter"></a>
         </div>
    </center>

<div class="footer">
      <div class="container">
         <div class="footer_title">Нравится наш сервис? Поделитесь в социальных сетях:</div>
         <div class="footer_social">
            <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=https://king-mountain.pro/&st.comments=ЦарьГоры" target="_blank" class="footer_social_item"><img src="images/ic-ok.png" height="39" width="39" alt="OK"></a>
            <a href="https://www.facebook.com/sharer.php?u=https://king-mountain.pro/" target="_blank" class="footer_social_item"><img src="images/ic-fb.png" height="26" width="12" alt="Facebook"></a>
            <a href="https://vk.com/share.php?url=https://king-mountain.pro/" target="_blank" class="footer_social_item"><img src="images/ic-vk.png" height="18" width="30" alt="VK"></a>
            <a href="https://twitter.com/share?url=https://king-mountain.pro/&text=Царь Горы" target="_blank" class="footer_social_item"><img src="images/ic-tw.png" height="20" width="24" alt="Twitter"></a>
         </div>
         <div class="footer_logo">
            <img src="images/footer_logo.png" height="45" width="109" alt="Царь горы">
         </div>
         <div class="footer_copyright">
            ООО Игра - “Царь горы” 2017 Все права защищены.
         </div>
      </div>
   </div>