<link rel="stylesheet" href="/fonts/gothamPro/stylesheet.css">

<div class="mail_skype_block">
      <h2>Наши контакты</h2>
      <div class="mail_skype">
         <div class="mail_block">
            <div style="background-color: #e4f9f0; top: -50px"><img src="/images/mail.png" alt=""></div>
            <h2 class="support"><a href="#">support@king-mountain.pro</a></h2>
         </div>
         <div class="skype_block">
            <div style="background-color: #e4f9f0; top: -60px;"><img src="/images/skype.png" alt=""></div>
            <h2 class="support">tarasskypeukr</h2>
         </div>
      </div>
   </div>
   <div class="we_in_soc_network">
      <div class="soc-btn">
         <h2 class="soc-h">Мы в социальной сети:</h2>
         <a href="https://ok.ru/kingofmountain" target="_blank"><img src="/images/odnk.png" alt="OK"></a>
         <a href="https://www.facebook.com/KingofMontain" target="_blank"><img src="/images/fb.png" alt="Facebook"></a>
         <a href="https://vk.com/kingmountain" target="_blank"><img src="/images/vk0.png" alt="VK"></a>
         <a href="https://twitter.com/share?url=https://king-mountain.pro/&text=Царь Горы" target="_blank"><img src="/images/tw.png" alt="Twitter"></a>
      </div>
   </div>
   <%= render '/feedbacks/form' %>
   <div class="footer">
      <div class="container">
        <span class="arrow_up">⌃</span>
         <div class="footer_title">Нравится наш сервис? Поделитесь в социальных сетях:</div>
         <div class="footer_social">
            <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=https://king-mountain.pro/&st.comments=ЦарьГоры" target="_blank" class="footer_social_item"><img src="/images/ic-ok.png" height="39" width="39" alt="OK"></a>
            <a href="https://www.facebook.com/sharer.php?u=https://king-mountain.pro/" target="_blank" class="footer_social_item"><img src="/images/ic-fb.png" height="26" width="12" alt="Facebook"></a>
            <a href="https://vk.com/share.php?url=https://king-mountain.pro/" target="_blank" class="footer_social_item"><img src="/images/ic-vk.png" height="18" width="30" alt="VK"></a>
            <a href="https://twitter.com/share?url=https://king-mountain.pro/&text=Царь Горы" target="_blank" class="footer_social_item"><img src="/images/ic-tw.png" height="20" width="24" alt="Twitter"></a>
         </div>
         <div class="footer_logo">
            <img src="/images/footer_logo.png" height="45" width="109" alt="Царь горы">
         </div>
         <div class="footer_copyright">
            ООО Игра - “Царь горы” 2017 Все права защищены.
         </div>
      </div>
   </div>