   <meta charset="UTF-8">
   <link rel="stylesheet" href="fonts/gothamPro/stylesheet.css">
   <div class="main_banner">
      <div class="container">
         <h1 class="main_banner_title">
            <span>Игра -</span>
            Царь горы
         </h1>
         <div class="main_banner_arr_down"></div>
      </div>
   </div>
   <div class="container">
      <div class="start_block">
         <p>Всего за <span>25 рублей</span> и они твои!</p>
         <strong><%= Transfer.sum(:summa) %> рублей</strong>
      </div>
      <div class="start_price">
         <h2 class="start_price_title">
            Стоимость старта <span>25 рублей</span>
         </h2>
         <form action="#">
            <div class="start_price_block">
               <div class="start_price_extensions">
                  <strong>Дополнения</strong>
                  <div class="start_price_extensions_item radio">
                     <div class="icon">Радист</div>
                     <div class="start_price_extensions_item_price">
                        50 руб
                     </div>
                     <div class="start_price_extensions_item_check">
                        <div class="start_price_extensions_item_checkbox">
                           <label for="radio"></label><input type="checkbox" id="radio">
                        </div>
                        <i class="start_price_extensions_item_help"></i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item guide">
                     <div class="icon">Проводник</div>
                     <div class="start_price_extensions_item_price">
                        150 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <div class="start_price_extensions_item_checkbox">
                           <label for="guide"></label><input type="checkbox" id="guide">
                        </div>
                        <i class="start_price_extensions_item_help"></i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item porter">
                     <div class="icon">Носильщик</div>
                     <div class="start_price_extensions_item_price">
                        100 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <div class="start_price_extensions_item_checkbox">
                           <label for="porter"></label><input type="checkbox" id="porter">
                        </div>
                        <i class="start_price_extensions_item_help"></i>
                     </div>
                  </div>
                  <div class="start_price_extensions_item helicopter">
                     <div class="icon">Увакуационный вертолёт</div>
                     <div class="start_price_extensions_item_price">
                        200 руб.
                     </div>
                     <div class="start_price_extensions_item_check">
                        <div class="start_price_extensions_item_checkbox">
                           <label for="helicopter"></label><input type="checkbox" id="helicopter">
                        </div>
                        <i class="start_price_extensions_item_help"></i>
                     </div>
                  </div>
               </div>
            </div>
            <div class="start_price_quantity">
               <div class="left_side">
                  <h3>Количество провианта</h3>
                  <em>Провиант помогает быстрее добраться к вершине!</em>
               </div>
               <div class="right_side">
                  <div class="start_price_quantity_counter">
                     <b class="price_count_left"></b>
                     <input type="text" id="">
                     <b class="price_count_right"></b>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>