<link rel="stylesheet" href="/fonts/gothamPro/stylesheet.css">
   <div class="about_project">
      <h3 class="abs-about">О сервисе</h3>
      <p></p>
      <p></p>
      <p>Царь горы – это игровой проект нового формата, которого еще не было на просторах интернета. Разработчики поставили перед собой цель создать честную игру, в которой может заработать каждый. При этом, чтобы шанс выигрыша зависел не от системы, а непосредственно от действий игрока. Так, чтобы честность и прозрачность были ключевыми особенностями проекта. В итоге, поставленная цель была достигнута.</p>

      <p>Суть новой онлайн-игры – добраться до вершины горы, которая состоит из 7 уровней. Чтобы перейти уровень выше ему достаточно заполнить уровень 10/10. Это возможно с помощью реферальной системы или же игра сама добавит людей в уровень. Участнику ничего делать не нужно!</p>

      <p>Аналогичная процедура на всех уровнях.</p>

      <p>Система игры построена на честности и прозрачности всех выполняемых действий. Шанс выигрыша у каждого игрока одинаковый, а риск вылететь из игры сводится к нулю, так как это решение участник принимает самостоятельно, продолжать играть или же вывести свои заработанные деньги! Несмотря на новизну проекта, в дальнейшем он будет только развиваться и становиться более удобным для игроков.</p>

      <p>В отличие от других развлекательных проектов с возможностью заработка, King of mountain – не азартная игра, главная цель которой – оставить вас ни с чем. Напротив, проект заинтересован в том, чтобы вы играли и выигрывали, т. к. его основатели зарабатывают исключительно на комиссиях.</p>

      <p>Чем больше вы выигрываете – тем больше выигрывает King of mountain!</p>

   </div>
   <div class="compare_block about_compare">
      <div class="container">
         <h3>Перспективная игра</h3>
         <p>Cравним с другими</p>
         <div class="col compare_block_no">
            <div class="compare_block_col_title">Рулетка</div>
            <ul>
               <li>Выигрыш зависит только от случая</li>
               <li>Вы можете опираться только на удачу и интуицию</li>
               <li>Азартная игра</li>
               <li>Высокая вероятность остаться ни с чем</li>
               <li>Казино всегда "в плюсе" и заинтересовано в том, чтобы вы проигрывали<li>
            </ul>
            <a href="#">Упустить возможность</a>
         </div>
         <div class="col compare_block_yes">
            <div class="compare_block_col_title">Царь горы</div>
            <ul>
               <li>Вы сами контролируете игру</li>
               <li>Вы можете пользоваться провиантом, дополнениями и реферальной системой, увеличивая свой шанс на выигрыш</li>
               <li>Игра, заработок в которой зависит только от вас</li>
               <li>Максимум, что вы можете потерять - 50 рублей, но и это в случае, если покинете игру</li>
               <li>Сайт зарабатывает исключительно на комиссиях при оплате при оплате вступления и покупки дополнений, по этому мы заинтересованы, чтобы вы играли и выигрывали</li>
            </ul>
            <a href="#">Сделать правильный выбор</a>
         </div>
      </div>
   </div>
   <div class="footer">
      <div class="container">
         <div class="footer_title">Нравится наш сервис? Поделитесь в социальных сетях:</div>
         <div class="footer_social">
            <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=https://king-mountain.pro/&st.comments=ЦарьГоры" target="_blank" class="footer_social_item"><img src="/images/ic-ok.png" height="39" width="39" alt="OK"></a>
            <a href="https://www.facebook.com/sharer.php?u=https://king-mountain.pro/" target="_blank" class="footer_social_item"><img src="/images/ic-fb.png" height="26" width="12" alt="Facebook"></a>
            <a href="https://vk.com/share.php?url=https://king-mountain.pro/" target="_blank" class="footer_social_item"><img src="/images/ic-vk.png" height="18" width="30" alt="VK"></a>
            <a href="https://twitter.com/share?url=https://king-mountain.pro/&text=Царь Горы" target="_blank" class="footer_social_item"><img src="/images/ic-tw.png" height="20" width="24" alt="Twitter"></a>
         </div>
         <div class="footer_logo">
            <img src="/images/footer_logo.png" height="45" width="109" alt="Царь горы">
         </div>
         <div class="footer_copyright">
            ООО Игра - “Царь горы” 2017 Все права защищены.
         </div>
      </div>
   </div>