<center>
<h4>О проекте</h4>
<b>Царь горы</b> – это игровой проект нового формата, которого еще не было на просторах интернета. <br />
Разработчики поставили перед собой цель создать честную игру, в которой может заработать каждый. <br />
При этом, чтобы шанс выигрыша зависел не от системы, а непосредственно от действий игрока. Так, чтобы честность и прозрачность были ключевыми особенностями проекта. В итоге, поставленная цель была достигнута. <br />
Суть новой онлайн-игры – добраться на вершину горы, которая состоит из 10 уровней. Чтобы перейти уровень выше ему достатоно заполнить уровень 10/10. Это возможно с помощью реферальной систесы или же игра сама добавил людей в уровень. Участнику ничего делать не нужно! Аналогичная процедура на всех уровнях. <br />
Система игры построена на честности и прозрачности всех выполняемых действий. Шанс выигрыша у каждого игрока одинаковый, а риск вылететь из игры сводится к нулю, так как это решение участник принимает самостоятельно, Продолжать играть или же вывести сфои заработаные деньги!  Несмотря на новизну проекта, в дальнейшем он будет только развиваться и становиться более удобным для игроков.
В отличие от других развлекательных проектов с возможностью заработка, King of mountain – не азартная игра, главная цель которой – оставить вас ни с чем. <br />
Напротив, проект заинтересован в том, чтобы вы играли и выигрывали, т. к. его основатели зарабатывают исключительно на комиссиях. <br />
Чем больше вы выигрываете – тем больше выигрывает King of mountain!
         <h3>Перспективная игра</h3>
         <p>Сравним с другими</p>
</center>

   <div class="compare_block">
      <div class="container">
    <div class="compare_block">
      <div class="container">
         <div class="col compare_block_no">
            <div class="compare_block_col_title">Рулетка</div>
            <ul>
               <li>Выигрыш зависит только от случая</li>
               <li>Вы можете опираться только на удачу и интуицию</li>
               <li>Азартная игра</li>
               <li>Высокая вероятность остаться ни с чем</li>
               <li>Казино всегда в <<плюсе>> и заинтересовано в том, чтобы вы проигрывали</li>
               <li>Качество игры</li>
               <li>Большие коммиссии</li>
            </ul>
            <%= link_to 'Упустить возможность', new_user_session_path, class: 'btn btn-default' %>
         </div>
         <div class="col compare_block_yes">
            <div class="compare_block_col_title">Царь горы</div>
            <ul>
               <li>Вы сами контролируете игру</li>
               <li>Вы можете пользоваться провиантом, дополнениями и реферальной системой, увеличивая свой шанс на выигрыш</li>
               <li>Игра, зароботок в которой зависит только от вас</li>
               <li>Максимум, что вы можете потерять - 50 рублей, но и это только в случае, если покинете игру</li>
               <li>Сайт зарабатывает исключительно на комиссиях при оплате вступления и покупке дополнения, поэтому мы заинтересованы, чтобы вы выигрывали</li>
            </ul>
            <a href="<%= new_user_session_path %>">Сделать правильный выбор</a>
         </div>
      </div>
   </div>
<p></p>
