<% 

%>

<%= @sign %>
<form method="post" action="https://payeer.com/merchant/">
	<input type="hidden" name="m_sign" value="<%= @sign %>">

	<input type="submit" name="m_process" value="send" />
</form>

