<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Здравствуйте! ув. <%= @user.name %></h1>
    <p>
      У Вас в профиле новые действия! Возможно появился доступный для покупки провиант или нужно перейти на уровень выше.<br>
    </p>
    <p>
      Ссылка на ваш профиль: <a href="king-mountain.pro/profiles">Перейти</a>.
    </p>
    <p>Спасибо что вы с нами, удачного вам дня!</p>
  </body>
</html>