<p>Добрый день ув. <%= @resource.email %>!</p>

<p>Вы запросили ссылку для изменения вашего пароля. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Перейти к изменению пароля', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> Если вы не запрашивали это, пожалуйста, проигнорируйте это письмо. </p>
<p> Ваш пароль не изменится, пока вы не перейдете по ссылке выше и не создадите новую. </p>